<h3>Details</h3>
<div>
  <label>Name:</label>
  <input type="text" [(ngModel)]="customer.name" /><br/>

  <label>City:</label>
  <input type="text" [(ngModel)]="customer.city" /><br/>

  <label>State:</label>
  <input type="text" [(ngModel)]="customer.state" /><br/>

  <label>Country:</label>
  <input type="text" [(ngModel)]="customer.country" /><br/>

  <label>Address:</label>
  <input type="text" [(ngModel)]="customer.address" /><br/><br/>
  
  <button (click)="onUpdate()">Update</button>
</div>
